body {
    background-color: bisque;
}
hr {

    border-style: none;
    border-top: dotted;
    border-color: gray;
    border-width: 5px;
    width: 3%;
}
h1 {
   color: #79B4B7;
   font-family: 'Lucida Sans';
}
h3 {
    color: #79B4B7;
 }